/* .searchContent {
  height: 100vh;
  background-color: black;
} */
.search-container {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 5rem 0;
  /* display: flex; */
}
.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c5c5c5;
  height: 100%;
  padding: 8rem;
}
.movie {
  /* flex: 1 1 auto; */
  display: inline-block;
  padding-right: 0.5rem;
  padding-bottom: 7rem;
}
.movie_poster_wrap {
  cursor: pointer;
  transition: transform 0.5s;
  background-color: #111;
  width: 400px;
  border-radius: 5px;
  /* background-color: red; */
  /* -webkit-transition: transform 0.9s; */
}
.movie_poster_wrap:hover {
  transform: scale(1.2);
}
.movie_poster {
  width: 100%;
  border-radius: 5px;
  /* background-color: blue; */
}
.movie_desc_wrap {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 0 10px;
}
.movie_desc {
  flex: 4;
  width: 80%;
  height: 70px;
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: start;
}
.movie_title {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0;
}
.movie_overview {
  font-size: 12px;
  width: 80%;
  text-align: start;
}
.my_list {
  flex: 1;
  font-size: 14px;
}
